<div [ngClass]="alerta" class="alert" role="alert">
    <!-- ng class hace un append al class-->
    This is a primary alert—check it out!
</div>
<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">info</button>
<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">success</button>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">HOLA MUNDO</h3>

<button type="button" (click)="propiedades.danger = !propiedades.danger" name="buttons" class="btn" [ngClass]="{'btn-danger': propiedades.danger , 'btn-info':!propiedades.danger}">Cambiar</button>

<br><br>
<h3>Proceso Asincrono</h3>

<button (click)="ejecutar()" class="btn btn-primary" type="button" name="butonsa" [disabled]="loading"> 
    <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}" class="fa"></i> 
    <span *ngIf="!loading"> Guardar cambios</span>
    <span *ngIf="loading"> espera por favor...</span>
</button>